<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <h1>
        Your Abcs
      </h1>

      <%= render partial: "abcs/list", locals: {abcs: @abcs} %>
    </div>
  </div>
</div>
